extends ../layouts/splash

block head
  title= __('splash.title')

block neck
  link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block body
  div.row
    div.col-md-6
      div.splash.ticket-stub
        a(href="/login/")
          img(src='/media/om-ticket-stub.png')
  div.clearfix
  div.row
    div.col-md-6
      div.splash.options
        div
          h1= __('splash.headline')
          a.btn.btn-primary.btn-lg(href='/login/')= __('app.login')
          a.btn.btn-default.btn-lg(href='/signup/')= __('app.signup')
        div.clearfix
