extends ../../layouts/default

block head
  title= __('app.login')

block feet
  script(src='/views/login/index.min.js?#{cacheBreaker}')

block body
  div.row
    div.col-sm-6
      div.page-header
        h1= __('app.login')
      div#login
      if oauthTwitter || oauthGitHub || oauthFacebook
        hr
        p= __('app.login.or-use-externals')
        if oauthMessage
          div.alerts
            div.alert.alert-info.alert-dismissable
              button.close(type='button', data-dismiss='alert') &times;
              |#{oauthMessage}&nbsp;
              b
                a(href='/signup/')= __('app.signup.sign-up-here')
        div.form-actions
          div.btn-group.btn-group-justified
            if oauthTwitter
              a.btn.btn-info(href='/login/twitter/')
                i.fa.fa-twitter.fa-lg
                | &nbsp;
                = __('app.external.twitter')
            if oauthGitHub
              a.btn.btn-info(href='/login/github/')
                i.fa.fa-github.fa-lg
                | &nbsp;
                = __('app.external.github')
            if oauthFacebook
              a.btn.btn-info(href='/login/facebook/')
                i.fa.fa-facebook-square.fa-lg
                | &nbsp;
                = __('app.external.facebook')
      hr
      p
        = __('app.login.dont-have-create.a') + " "
        a(href='/signup/')= __('app.signup')
        = " " + __('app.login.dont-have-create.b')


  script(type='text/template', id='tmpl-login')
    form
      div.alerts
        | <% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          |<%= err %>
        | <% }); %>
      div.form-group(class!='<%= errfor.username ? "has-error" : "" %>')
        label.control-label= __('app.login.form.username-or-email') + ":"
        input.form-control(type='text', name='username', value!='<%= username %>')
        span.help-block <%= errfor.username %>
      div.form-group(class!='<%= errfor.password ? "has-error" : "" %>')
        label.control-label= __('app.login.form.password') + ":"
        input.form-control(type='password', name='password', value!='<%= password %>')
        span.help-block <%= errfor.password %>
      div.form-actions
        button.btn.btn-primary.btn-login(type='button')= __('app.login')
        a.btn.btn-link(href='/login/forgot/')= __('app.login.forgot-password-q')
        input(type='hidden', name='returnUrl', value=returnUrl)
